@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}

.show {
  animation: slideInFromBottom 0.6s ease forwards;
}

.close {
  animation: slideOutToBottom 0.6s ease forwards;
}

@keyframes slideInFromBottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideOutToBottom {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}
